[submodule "thirdparty/cpptoml"]
	path = thirdparty/cpptoml
	url = https://github.com/skystrife/cpptoml/
[submodule "thirdparty/libvncserver"]
	path = thirdparty/libvncserver
	url = https://github.com/LibVNC/libvncserver/
[submodule "thirdparty/libjpeg-turbo/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo/
[submodule "thirdparty/tigervnc"]
	path = thirdparty/tigervnc
	url = https://github.com/TigerVNC/tigervnc/
