[submodule "thirdparty/cpptoml"]
	path = thirdparty/cpptoml
	url = https://github.com/skystrife/cpptoml/
[submodule "thirdparty/libvncserver"]
	path = thirdparty/libvncserver
	url = https://github.com/LibVNC/libvncserver/
